body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

table {
    margin: 15px auto;

}

.cell {
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: rgb(183, 183, 183);
    border: 1px solid rgb(247, 247, 246);
    border-bottom: 1px solid rgb(173, 170, 167);
    border-right: 1px solid rgb(173, 170, 167);
}

.hide-text-visibility {
    font-size: 0;
    overflow: hidden;

}

.lives-display {
    text-align: center;
    margin-top: 15px;
    height: 30px;
}


.black-backround {
    background-color: black;
    border: 1px solid black;
}

.hint-button{
    margin: 1px;
    padding: 0px;
}

.reset-game{
    font-size: medium;
    margin-bottom: 10px;
}

/* border: 1px solid rgb(173, 170, 167);
    border-bottom: 1px solid rgb(247, 247, 246);
    border-right: 1px solid rgb(247, 247, 246); */